#game_board{
    top: 50%;
    left: 45%;
    position: relative;
}
.right{
    border-right: 3px black solid;
}
.bottom{
    border-bottom: 3px black solid;
}
.game_field
{
    width: 100px;
    height: 100px;
    display: table-cell;
    font-size: 75px;
    text-align: center;
    line-height: 100px;
}
#message_container{
    margin-right: 30%;
}
.join_game{
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    border: solid black 2px;
    font-size: 15px;
    cursor: pointer;
}
.full_room_error
{
    color: red;
}